In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import altair as alt
import pandas as pd

In [2]:
ds = pd.read_csv('S1SubActivities_preprocessed.csv', index_col = None)
ds.start = pd.to_datetime(ds.start, format='%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format='%Y-%m-%d %H:%M:%S')
ds = ds.sort_values('start')
ds.reset_index(drop = True, inplace = True)

In [3]:
ds.head(n=5)

    subActNum            subAct               start                 end
0          67           Cabinet 2003-03-27 06:43:40 2003-03-27 06:43:43
1         100      Toilet Flush 2003-03-27 06:44:06 2003-03-27 07:12:41
2         101      Light switch 2003-03-27 06:44:20 2003-03-27 07:46:34
3          57  Medicine cabinet 2003-03-27 06:44:35 2003-03-27 06:44:48
4          58  Medicine cabinet 2003-03-27 06:44:36 2003-03-27 06:44:48
5          67           Cabinet 2003-03-27 06:44:49 2003-03-27 06:44:56
6          82            Drawer 2003-03-27 06:45:45 2003-03-27 06:45:48
7          71            Drawer 2003-03-27 06:46:12 2003-03-27 06:46:20
8          80           Cabinet 2003-03-27 06:51:43 2003-03-27 06:51:46
9         143         Microwave 2003-03-27 06:54:09 2003-03-27 13:07:43
10         55           Cabinet 2003-03-27 06:54:16 2003-03-27 06:54:19
11         54              Door 2003-03-27 06:57:05 2003-03-27 06:57:08
12         54              Door 2003-03-27 07:04:55 2003-03-27 07:04:57
13         93     Shower faucet 2003-03-27 07:05:22 2003-03-27 07:05:24
14         72           Cabinet 2003-03-27 07:05:39 2003-03-27 07:05:57

# Based on exploration in 09 - clip durations

---