In [2]:
%run -i PlotlyPackages.py
ds = pd.read_csv('S1SubActivities_preprocessed.csv', index_col = None)
ds.start = pd.to_datetime(ds.start, format='%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format='%Y-%m-%d %H:%M:%S')
ds = ds.sort_values('start')
ds.reset_index(drop = True, inplace = True)

In [3]:
import datetime as dt

def id_delta(events, n=1, delta_threshold=dt.timedelta(-99)):
    nns = []
    for row in events.itertuples():
        #print(row)
        start_time = getattr(row, 'start')
        end_time = getattr(row, 'end')
        subActNum = getattr(row, 'subActNum')
        row_index = getattr(row, 'Index')
        
        nn = events[(events.start >= start_time) & 
                    (events.index != row_index) & 
                    ((start_time - events.start) > delta_threshold)][:n]
        #print(len(nn))
        ordered = pd.DataFrame()
        ordered['Dummy'] = nn['subActNum']
        ordered['EventA'] = subActNum
        ordered['EventB'] = nn['subActNum']
        ordered['EvA_Start'] = start_time
        ordered['EvB_Start'] = nn['start']
        ordered['EvA_End'] = end_time
        ordered['EvB_End'] = nn['end']
        del ordered['Dummy']
        nns.append(ordered)
  
    #print(nns)
    result = pd.concat(nns)
    result['Delta'] = np.where(result['EvA_Start']==result['EvB_Start'], 
                               0,
                               (result['EvB_Start'] - result['EvA_Start']))
    result['Delta'] = result['Delta'].dt.total_seconds()
    return result

In [4]:
%run -i add_DAY_WDWE_phaseII.py

In [5]:
ds_1n_25s = id_delta(ds, 1, dt.timedelta(0,-25))
ds_1n_25s = add_DAY_WDWE_phaseII(ds_1n_25s)

In [6]:
ds_1n_25s.head(n=5)

,EventA,EventB,EvA_Start,EvB_Start,EvA_End,EvB_End,Delta,DAY,WDWE,Hour
0,100,101,2003-03-27 06:44:06,2003-03-27 06:44:20,2003-03-27 07:12:41,2003-03-27 07:46:34,14.0,Thu,WD,6
1,101,57,2003-03-27 06:44:20,2003-03-27 06:44:35,2003-03-27 07:46:34,2003-03-27 06:44:48,15.0,Thu,WD,6
2,57,58,2003-03-27 06:44:35,2003-03-27 06:44:36,2003-03-27 06:44:48,2003-03-27 06:44:48,1.0,Thu,WD,6
3,58,67,2003-03-27 06:44:36,2003-03-27 06:44:49,2003-03-27 06:44:48,2003-03-27 06:44:56,13.0,Thu,WD,6
4,143,55,2003-03-27 06:54:09,2003-03-27 06:54:16,2003-03-27 13:07:43,2003-03-27 06:54:19,7.0,Thu,WD,6

In [86]:
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
        
    ds = pd.read_csv('S1Sensors_preprocessed.csv', index_col = 'subActNum')
    
    colorList = []
    for subActNum in labelList:
        if ds.loc[subActNum, 'reqEnergy']:
            colorList.append("red")
        else:
            colorList.append("blue")
    
    newLabelList = []
    for subActNum in labelList:
        newLabelList.append(ds.loc[subActNum, 'room'] + " - " + ds.loc[subActNum, 'activity'])
    
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    labelList = newLabelList
    
    # creating the sankey diagram
    data = dict(type='sankey', 
                node = dict(pad = 15, thickness = 20, line = dict(color = "black", width = 0.5),
                            label = labelList,
                            color = colorList),
                link = dict(source = sourceTargetDf['sourceID'],
                            target = sourceTargetDf['targetID'],
                            value = sourceTargetDf['count']))
    
    layout =  dict(title = title, font = dict(size = 10))
    fig = dict(data=[data], layout=layout)
    
    return fig
# COLOUR - https://stackoverflow.com/questions/55862005/plotly-sankey-diagram-group-label-and-color 
# https://medium.com/plotly/4-interactive-sankey-diagram-made-in-python-3057b9ee8616
# https://community.periscopedata.com/t/63nx0x/sankey-diagrams-with-plot-ly-in-periscope
# https://medium.com/kenlok/how-to-create-sankey-diagrams-from-dataframes-in-python-e221c1b4d6b0
# https://community.periscopedata.com/t/k9s9mg/sankey-plot-ly
# https://plot.ly/python/sankey-diagram/

In [87]:
fig = genSankey(ds_1n_25s, cat_cols=['EventA', 'EventB'], value_cols='Delta', title='ds')
py.plot(go.Figure(fig))


# CLEAN UP - SCALING + COLOURS + NUMBERS CONVERTED TO WORDS (or KEY?)

'temp-plot.html'

In [89]:
wdwe_title = {"WD":"Weekday", "WE":"Weekend"}

def addPhase(df):    
    df['Phase'] = "Afternoon"
    df.loc[df['Hour'] < 9, 'Phase'] = "Morning"
    df.loc[df['Hour'] >= 17, 'Phase'] = "Evening"

def plotASankey(df, wdwe, phase):
    df = df[(df.WDWE==wdwe) & (df.Phase==phase)]
    fig = genSankey(df, cat_cols=['EventA', 'EventB'], value_cols='Delta', title=wdwe_title[wdwe] + ' ' + phase)
    py.plot(go.Figure(fig), filename=wdwe_title[wdwe] + ' ' + phase + '.html')

addPhase(ds_1n_25s)

for wdwe in ['WD','WE']:
    for phase in ['Morning', 'Afternoon', 'Evening']:
        plotASankey(ds_1n_25s, wdwe, phase)

In [73]:
df = ds_1n_25s
df[(df.WDWE==wdwe) & (df.Phase==phase)]

,EventA,EventB,EvA_Start,EvB_Start,EvA_End,EvB_End,Delta,DAY,WDWE,Hour,Phase
0,100,101,2003-03-27 06:44:06,2003-03-27 06:44:20,2003-03-27 07:12:41,2003-03-27 07:46:34,14.0,Thu,WD,6,Morning
1,101,57,2003-03-27 06:44:20,2003-03-27 06:44:35,2003-03-27 07:46:34,2003-03-27 06:44:48,15.0,Thu,WD,6,Morning
2,57,58,2003-03-27 06:44:35,2003-03-27 06:44:36,2003-03-27 06:44:48,2003-03-27 06:44:48,1.0,Thu,WD,6,Morning
3,58,67,2003-03-27 06:44:36,2003-03-27 06:44:49,2003-03-27 06:44:48,2003-03-27 06:44:56,13.0,Thu,WD,6,Morning
4,143,55,2003-03-27 06:54:09,2003-03-27 06:54:16,2003-03-27 13:07:43,2003-03-27 06:54:19,7.0,Thu,WD,6,Morning
...,...,...,...,...,...,...,...,...,...,...,...
1307,130,130,2003-04-10 08:21:00,2003-04-10 08:21:00,2003-04-10 08:21:11,2003-04-10 08:21:11,0.0,Thu,WD,8,Morning
1439,68,80,2003-04-11 08:24:11,2003-04-11 08:24:31,2003-04-11 08:24:17,2003-04-11 08:24:34,20.0,Fri,WD,8,Morning
1440,80,61,2003-04-11 08:24:31,2003-04-11 08:24:41,2003-04-11 08:24:34,2003-04-11 08:24:52,10.0,Fri,WD,8,Morning
1441,100,88,2003-04-11 08:26:11,2003-04-11 08:26:11,2003-04-11 08:26:12,2003-04-11 08:26:48,0.0,Fri,WD,8,Morning
1442,88,100,2003-04-11 08:26:11,2003-04-11 08:26:11,2003-04-11 08:26:48,2003-04-11 08:26:12,0.0,Fri,WD,8,Morning

In [36]:
ds = pd.read_csv('S1Sensors_preprocessed.csv', index_col = 'subActNum')

In [83]:
ds.loc[53, 'room'] + " - " + ds.loc[53, 'activity']

'Kitchen - Cabinet'

In [40]:
ds

,room,activity,concat,reqEnergy,subActNumConcat,wattage
subActNum,,,,,,
100,Bathroom,Toilet Flush,bathroom_toiletflush,False,subActNum_100,100
101,Bathroom,Light switch,bathroom_lightswitch,True,subActNum_101,100
104,Foyer,Light switch,foyer_lightswitch,True,subActNum_104,100
105,Kitchen,Light switch,kitchen_lightswitch,True,subActNum_105,100
106,Kitchen,Burner,kitchen_burner,True,subActNum_106,100
...,...,...,...,...,...,...
95,Kitchen,Light switch,kitchen_lightswitch,True,subActNum_95,100
96,Bathroom,Exhaust Fan,bathroom_exhaustfan,True,subActNum_96,100
97,Living room,Light switch,livingroom_lightswitch,True,subActNum_97,100
98,Kitchen,Garbage disposal,kitchen_garbagedisposal,True,subActNum_98,100
99,Kitchen,Burner,kitchen_burner,True,subActNum_99,100