## Collapse into minutes
* Use in-built Pandas function
* `resample('min').max()`

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
ds = pd.read_csv('S1SubActivities_timeRangeBoolean.csv', index_col = 'duration')
ds.index = pd.to_datetime(ds.index)

In [3]:
ds.head(n=2)

,subActNum_100,subActNum_101,subActNum_104,subActNum_105,subActNum_106,subActNum_107,subActNum_108,subActNum_119,subActNum_125,subActNum_126,...,subActNum_68,subActNum_70,subActNum_76,subActNum_82,subActNum_88,subActNum_90,subActNum_92,subActNum_93,subActNum_96,subActNum_98
duration,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-03-27 06:43:41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
ds.tail(n=2)

,subActNum_100,subActNum_101,subActNum_104,subActNum_105,subActNum_106,subActNum_107,subActNum_108,subActNum_119,subActNum_125,subActNum_126,...,subActNum_68,subActNum_70,subActNum_76,subActNum_82,subActNum_88,subActNum_90,subActNum_92,subActNum_93,subActNum_96,subActNum_98
duration,,,,,,,,,,,,,,,,,,,,,
2003-04-11 22:24:16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2003-04-11 22:24:17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
ds = ds.resample('min').max()

In [6]:
ds.head(n=2)

,subActNum_100,subActNum_101,subActNum_104,subActNum_105,subActNum_106,subActNum_107,subActNum_108,subActNum_119,subActNum_125,subActNum_126,...,subActNum_68,subActNum_70,subActNum_76,subActNum_82,subActNum_88,subActNum_90,subActNum_92,subActNum_93,subActNum_96,subActNum_98
duration,,,,,,,,,,,,,,,,,,,,,
2003-03-27 06:43:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-03-27 06:44:00,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
ds.tail(n=2)

,subActNum_100,subActNum_101,subActNum_104,subActNum_105,subActNum_106,subActNum_107,subActNum_108,subActNum_118,subActNum_119,subActNum_120,...,subActNum_90,subActNum_91,subActNum_92,subActNum_93,subActNum_94,subActNum_95,subActNum_96,subActNum_97,subActNum_98,subActNum_99
duration,,,,,,,,,,,,,,,,,,,,,
2003-04-11 22:23:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-04-11 22:24:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
len(ds)

22542

In [8]:
ds.to_csv('S1SubActivities_timeRangeBooleanMinutes.csv', index = 'duration')

In [9]:
ds = ds.dropna(how='all')

In [10]:
len(ds)

5286

In [11]:
ds.to_csv('S1SubActivities_timeRangeBooleanMinutesDropNA.csv', index = 'duration')

---