In [1]:
import numpy as np
import time
import datetime
import altair as alt
import pandas as pd

In [2]:
ds = pd.read_csv('S1SubActivities_temporalFeaturesNoDUPES.csv', index_col = None)
ds.start = pd.to_datetime(ds.start, format='%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format='%Y-%m-%d %H:%M:%S')

In [3]:
ds.head(n=2)

,subActNum,subAct,start,end,dayNumeric,DAY,WDWE,HOUR,durationSec
0,67,bathroom_cabinet,2003-03-27 06:43:40,2003-03-27 06:43:43,3,Thu,WD,6,3
1,100,bathroom_toiletflush,2003-03-27 06:44:06,2003-03-27 07:12:41,3,Thu,WD,6,1715

In [4]:
# Unique subActNum list
unique_list = []
for x in ds.subActNum:                  # Traverse for all elements 
    if x not in unique_list:            # Check if exists in unique_list or not 
        unique_list.append(x)

In [5]:
ds.head(n=2)

,subActNum,subAct,start,end,dayNumeric,DAY,WDWE,HOUR,durationSec
0,67,bathroom_cabinet,2003-03-27 06:43:40,2003-03-27 06:43:43,3,Thu,WD,6,3
1,100,bathroom_toiletflush,2003-03-27 06:44:06,2003-03-27 07:12:41,3,Thu,WD,6,1715

### Overwrite ALL
* subAct ['bathroom_toiletflush']

In [6]:
ds['durationSec'] = np.where(ds['subActNum'] == 100, 1, ds['durationSec'])

In [7]:
from datetime import datetime, timedelta
ds['end'] = np.where(ds['subActNum'] == 100, 
                     ds['start'] + timedelta(seconds=1), ds['end'])

In [ ]:
dsCheck = ds[ds.subActNum == 100]
#dsCheck

In [ ]:
#Fill OUTLIER with Mean (excluding outliers)

In [8]:
subActNames = ['bathroom_cabinet', 'bathroom_medicinecabinet', 'study_drawer', 
                'bedroom_drawer', 'kitchen_cabinet', 'kitchen_microwave', 
                'kitchen_door', 'bathroom_showerfaucet', 'kitchen_drawer', 
                'bathroom_sinkfaucet-hot', 'kitchen_freezer', 'bathroom_door',
                'kitchen_toaster']

In [ ]:
#def make_nans(row):
#    for subActName in subActNames:
#        dsNew = ds[ds.subAct == subActName]
#        mean = dsNew.durationSec.mean()
#        sd = dsNew.durationSec.std()
#        threeSD = mean + (3 * sd)
#    
#        if row[subActName] > threeSD:
#            row[subActName] = None
#        return row
#ds.durationSec = ds['durationSec'].apply(make_nans)

In [9]:
# https://medium.com/datadriveninvestor/finding-outliers-in-dataset-using-python-efc3fce6ce32

import numpy as np
import pandas as pd

def detect_outlier(data_1):
    outliers=[]
    threshold = 0.25
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    
    
    for y in data_1:
        z_score = (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [10]:
dsCheck = ds[ds.subAct == 'bathroom_cabinet']

In [11]:
detect_outlier(dsCheck.durationSec)

[1667, 19846, 25775]

In [12]:
subActRows = []

for subActName in subActNames:
    dsNew = ds[ds.subAct == subActName]
    dsNew = ds[ds.subAct == subActName]
    count = dsNew.durationSec.count()
    median = dsNew.durationSec.median()
    mean = dsNew.durationSec.mean() 
    outliers = detect_outlier(dsNew['durationSec'])
    
    column = {'SubAct': subActName,'Count': count,'Median': median, 'Mean': mean,
              'Outliers': outliers}
    subActRows.append(column)

weekDayMedianValues = pd.DataFrame(subActRows, index=None, 
                            columns=['SubAct', 'Count', 'Median', 'Mean', 'Outliers'])

In [13]:
weekDayMedianValues

,SubAct,Count,Median,Mean,Outliers
0,bathroom_cabinet,104,3.0,459.221154,"[1667, 19846, 25775]"
1,bathroom_medicinecabinet,194,87.0,3187.974227,"[13, 12, 513, 74, 74, 14, 16960, 22446, 16, 30..."
2,study_drawer,45,5.0,1633.488889,"[3, 7, 4, 3, 11, 104, 32613, 9924, 2, 2, 10, 2..."
3,bedroom_drawer,99,9.0,272.474747,"[16787, 9291]"
4,kitchen_cabinet,406,6.0,111.820197,[37569]
5,kitchen_microwave,61,5.0,376.409836,[22414]
6,kitchen_door,134,3.0,45.111940,"[1, 486, 1, 159, 167, 118, 208, 1815, 265, 228..."
7,bathroom_showerfaucet,88,14.0,1753.352273,"[2, 1, 2, 25, 1, 1, 5, 2, 1, 1, 1, 1, 8, 1, 12..."
8,kitchen_drawer,208,3.0,144.062500,"[625, 792, 1047, 24895]"
9,bathroom_sinkfaucet-hot,169,10.0,56.905325,[6528]
10,kitchen_freezer,130,38.0,1737.107692,"[6, 21, 3, 28, 16704, 41, 289, 7, 7, 28, 3, 52..."
11,bathroom_door,73,16.0,460.616438,"[17125, 1366, 10152]"
12,kitchen_toaster,71,4.0,789.366197,"[9496, 9496, 7943, 28429]"

In [14]:
s = weekDayMedianValues.apply(lambda x: pd.Series(x['Outliers']), 
                              axis=1).stack().reset_index(level=1, drop=True)
s.name = 'durationValues'
weekDayValues = weekDayMedianValues.drop('Outliers', axis=1).join(s)

In [15]:
weekDayValues['WDWE'] = 'WD'
weekDayValues['durationValues'] = weekDayValues.durationValues.astype(int)
weekDayValues['Median'] = weekDayValues.Median.astype(int)

In [16]:
weekDayValues

                      SubAct  Count  Median         Mean  durationValues WDWE
0           bathroom_cabinet    104       3   459.221154            1667   WD
0           bathroom_cabinet    104       3   459.221154           19846   WD
0           bathroom_cabinet    104       3   459.221154           25775   WD
1   bathroom_medicinecabinet    194      87  3187.974227              13   WD
1   bathroom_medicinecabinet    194      87  3187.974227              12   WD
..                       ...    ...     ...          ...             ...  ...
11             bathroom_door     73      16   460.616438           10152   WD
12           kitchen_toaster     71       4   789.366197            9496   WD
12           kitchen_toaster     71       4   789.366197            9496   WD
12           kitchen_toaster     71       4   789.366197            7943   WD
12           kitchen_toaster     71       4   789.366197           28429   WD

[433 rows x 6 columns]

In [17]:
subActRows = []
for subActName in subActNames:
    dsNew = ds[ds.subAct == subActName]
    dsNew = dsNew[dsNew.WDWE == 'WE']
    count = dsNew.durationSec.count()
    median = dsNew.durationSec.median() 
    outliers = detect_outlier(dsNew['durationSec'])
    
    column = {'SubAct': subActName,'Count': count,'Median': median, 'Outliers': outliers}
    subActRows.append(column)

weekendMedianValues = pd.DataFrame(subActRows, index=None, 
                            columns=['SubAct', 'Count', 'Median', 'Outliers'])

In [18]:
s = weekendMedianValues.apply(lambda x: pd.Series(x['Outliers']), 
                              axis=1).stack().reset_index(level=1, drop=True)
s.name = 'durationValues'
weekendValues = weekendMedianValues.drop('Outliers', axis=1).join(s)

In [19]:
weekendValues['WDWE'] = 'WE'
weekendValues['durationValues'] = weekendValues.durationValues.astype(int)
weekendValues['Median'] = weekendValues.Median.astype(int)

In [20]:
weekendValues

                      SubAct  Count  Median  durationValues WDWE
0           bathroom_cabinet     26       2           25775   WE
1   bathroom_medicinecabinet     49     104             930   WE
1   bathroom_medicinecabinet     49     104              94   WE
1   bathroom_medicinecabinet     49     104              20   WE
1   bathroom_medicinecabinet     49     104              25   WE
..                       ...    ...     ...             ...  ...
12           kitchen_toaster     24       2               1   WE
12           kitchen_toaster     24       2               1   WE
12           kitchen_toaster     24       2               1   WE
12           kitchen_toaster     24       2               1   WE
12           kitchen_toaster     24       2               2   WE

[313 rows x 5 columns]

In [ ]:
ds.head(n=2)

In [ ]:
weekendValues.head(n=2)

In [21]:
for i in weekendValues.iterrows():
    ds.loc[(ds['subAct'] == i[1].SubAct) & 
      (ds['durationSec'] == i[1].durationValues), 'durationSec'] = i[1].Median

In [22]:
for i in weekDayValues.iterrows():
    ds.loc[(ds['subAct'] == i[1].SubAct) & 
      (ds['durationSec'] == i[1].durationValues), 'durationSec'] = i[1].Median

In [23]:
df = ds

In [24]:
df.head(n=2)

,subActNum,subAct,start,end,dayNumeric,DAY,WDWE,HOUR,durationSec
0,67,bathroom_cabinet,2003-03-27 06:43:40,2003-03-27 06:43:43,3,Thu,WD,6,3
1,100,bathroom_toiletflush,2003-03-27 06:44:06,2003-03-27 06:44:07,3,Thu,WD,6,1

In [ ]:
for i in df.iterrows():
    i[1].end = i[1].start + timedelta(seconds = i[1].durationSec)

In [ ]:
df.head(n=2)

In [ ]:
len(df)

In [ ]:
ds = df

In [ ]:
# Unique subActNum list
unique_list = []
for x in ds.subActNum:                  # Traverse for all elements 
    if x not in unique_list:            # Check if exists in unique_list or not 
        unique_list.append(x)

In [ ]:
ds[ds.WDWE=="WE"]

In [ ]:
#https://stackoverflow.com/questions/50164001/multiple-column-row-facet-wrap-in-altair?rq=1

---