In [9]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [10]:
ds = pd.read_csv('S1SubActivities_timeStampRanges.csv', index_col = None)

In [11]:
ds.head(n=4)

,subActNum,subAct,start,end,dayNumeric,DAY,WDWE,HOUR,durationSec,actDuration,timeStampList,timeStampArrayList
0,67,bathroom_cabinet,2003-03-27 06:43:40,2003-03-27 06:43:43,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[datetime.datetime(2003, 3, 27, 6, 43, 40)\n d..."
1,100,bathroom_toiletflush,2003-03-27 06:44:06,2003-03-27 06:44:07,3,Thu,WD,6,1,2,"DatetimeIndex(['2003-03-27 06:44:06', '2003-03...","[datetime.datetime(2003, 3, 27, 6, 44, 6)\n da..."
2,101,bathroom_lightswitch,2003-03-27 06:44:20,2003-03-27 07:46:34,3,Thu,WD,6,3734,3735,"DatetimeIndex(['2003-03-27 06:44:20', '2003-03...","[datetime.datetime(2003, 3, 27, 6, 44, 20)\n d..."
3,57,bathroom_medicinecabinet,2003-03-27 06:44:35,2003-03-27 06:44:48,3,Thu,WD,6,13,14,"DatetimeIndex(['2003-03-27 06:44:35', '2003-03...","[datetime.datetime(2003, 3, 27, 6, 44, 35)\n d..."

In [12]:
ds.dtypes

subActNum              int64
subAct                object
start                 object
end                   object
dayNumeric             int64
DAY                   object
WDWE                  object
HOUR                   int64
durationSec            int64
actDuration            int64
timeStampList         object
timeStampArrayList    object
dtype: object

In [13]:
ds.start = pd.to_datetime(ds.start, format = '%Y-%m-%d %H:%M:%S')
ds.end = pd.to_datetime(ds.end, format = '%Y-%m-%d %H:%M:%S')

In [14]:
start = ds.start
end = ds.end

In [15]:
tempTimeStamp = []
i = 0
while i < len(ds):
    tempTimeStamp.append(pd.date_range(start = start[i], end = end[i], freq = 's'))
    i += 1

In [16]:
tempNumTimeStamps = []
i = 0
while i < len(ds):
    tempNumTimeStamps.append(len(tempTimeStamp[i]))
    i += 1

In [17]:
ds['actDuration'] = tempNumTimeStamps
ds['timeStampList'] = tempTimeStamp

In [18]:
timeStampVector = ds['timeStampList']

In [19]:
timeStampVector[1]

DatetimeIndex(['2003-03-27 06:44:06', '2003-03-27 06:44:07'], dtype='datetime64[ns]', freq='S')

In [20]:
DTArrayList = []
i = 0
while i < len(ds):
    DTArrayList.append(pd.DatetimeIndex.to_pydatetime(timeStampVector[i]))
    i = i + 1

In [21]:
ds['timeStampArrayList'] = DTArrayList

In [22]:
ds.head(n=4)

,subActNum,subAct,start,end,dayNumeric,DAY,WDWE,HOUR,durationSec,actDuration,timeStampList,timeStampArrayList
0,67,bathroom_cabinet,2003-03-27 06:43:40,2003-03-27 06:43:43,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200..."
1,100,bathroom_toiletflush,2003-03-27 06:44:06,2003-03-27 06:44:07,3,Thu,WD,6,1,2,"DatetimeIndex(['2003-03-27 06:44:06', '2003-03...","[2003-03-27 06:44:06, 2003-03-27 06:44:07]"
2,101,bathroom_lightswitch,2003-03-27 06:44:20,2003-03-27 07:46:34,3,Thu,WD,6,3734,3735,"DatetimeIndex(['2003-03-27 06:44:20', '2003-03...","[2003-03-27 06:44:20, 2003-03-27 06:44:21, 200..."
3,57,bathroom_medicinecabinet,2003-03-27 06:44:35,2003-03-27 06:44:48,3,Thu,WD,6,13,14,"DatetimeIndex(['2003-03-27 06:44:35', '2003-03...","[2003-03-27 06:44:35, 2003-03-27 06:44:36, 200..."

In [23]:
ds = ds.set_index(start)

In [24]:
s = ds.apply(lambda x: pd.Series(x['timeStampArrayList']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'duration'
ds = ds.drop('end', axis=1).join(s)

In [25]:
ds.head(n=4)

,subActNum,subAct,start,dayNumeric,DAY,WDWE,HOUR,durationSec,actDuration,timeStampList,timeStampArrayList,duration
start,,,,,,,,,,,,
2003-03-27 06:43:40,67,bathroom_cabinet,2003-03-27 06:43:40,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:40
2003-03-27 06:43:40,67,bathroom_cabinet,2003-03-27 06:43:40,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:41
2003-03-27 06:43:40,67,bathroom_cabinet,2003-03-27 06:43:40,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:42
2003-03-27 06:43:40,67,bathroom_cabinet,2003-03-27 06:43:40,3,Thu,WD,6,3,4,"DatetimeIndex(['2003-03-27 06:43:40', '2003-03...","[2003-03-27 06:43:40, 2003-03-27 06:43:41, 200...",2003-03-27 06:43:43

In [26]:
ds = ds.drop(columns = ['start', 'timeStampList', 'timeStampArrayList'])
ds.head(n=10)

,subActNum,subAct,dayNumeric,DAY,WDWE,HOUR,durationSec,actDuration,duration
start,,,,,,,,,
2003-03-27 06:43:40,67,bathroom_cabinet,3,Thu,WD,6,3,4,2003-03-27 06:43:40
2003-03-27 06:43:40,67,bathroom_cabinet,3,Thu,WD,6,3,4,2003-03-27 06:43:41
2003-03-27 06:43:40,67,bathroom_cabinet,3,Thu,WD,6,3,4,2003-03-27 06:43:42
2003-03-27 06:43:40,67,bathroom_cabinet,3,Thu,WD,6,3,4,2003-03-27 06:43:43
2003-03-27 06:44:06,100,bathroom_toiletflush,3,Thu,WD,6,1,2,2003-03-27 06:44:06
2003-03-27 06:44:06,100,bathroom_toiletflush,3,Thu,WD,6,1,2,2003-03-27 06:44:07
2003-03-27 06:44:20,101,bathroom_lightswitch,3,Thu,WD,6,3734,3735,2003-03-27 06:44:20
2003-03-27 06:44:20,101,bathroom_lightswitch,3,Thu,WD,6,3734,3735,2003-03-27 06:44:21
2003-03-27 06:44:20,101,bathroom_lightswitch,3,Thu,WD,6,3734,3735,2003-03-27 06:44:22
2003-03-27 06:44:20,101,bathroom_lightswitch,3,Thu,WD,6,3734,3735,2003-03-27 06:44:23

In [27]:
ds.to_csv('S1SubActivities_timeRangeMelt.csv',index=False)

---